html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html * {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color-profile: sRGB;
}
body {
  margin: 40px 70px;
}
p {
  font-weight: lighter;
  margin-bottom: 0.8em;
}
strong {
  font-weight: bold;
}
ol,
ul {
  margin-left: 2em;
  margin-bottom: 0.6em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0.3em;
}
li {
  margin-bottom: 0.3em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  text-transform: capitalize;
  margin-top: 0.7em;
  margin-bottom: 0.35em;
}
h1 {
  font-size: 1.6em;
  line-height: 1.2;
}
h2 {
  font-size: 1.6em;
  line-height: 1.2;
}
h3 {
  font-size: 1.45em;
  line-height: 1.2;
}
h4 {
  font-size: 1.38em;
  line-height: 1.2;
}
h5 {
  font-size: 1.38em;
  line-height: 1.2;
}
h6 {
  font-size: 1.38em;
  line-height: 1.2;
}
img {
  margin-bottom: 1.25em;
}
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
p img {
  margin-bottom: 0;
}
pre {
  margin-bottom: 1.25em;
}
pre,
code {
  font-family: monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.95em;
}
blockquote {
  border-left: 4px solid;
  padding: 0 0.95em;
}
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0.95em;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid;
}
h2 {
  border-bottom: 1px solid;
}
h3,
h4,
h5,
h6 {
  border-bottom: none;
}
html * {
  color: #657b83;
}
html body {
  background-color: #fdf6e3;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  color: #586e75;
  border-color: #657b83;
}
html a,
html a:active,
html a:visited {
  color: #586e75;
}
html a:hover {
  background-color: #eee8d5;
}
html pre {
  color: #586e75;
  background-color: #eee8d5;
}
html a,
html a:active,
html a:visited,
html code.url {
  color: #b58900;
}
html h1 {
  color: #b58900;
}
html h2,
html h3,
html h4,
html h5,
html h6 {
  color: #b58900;
}

@media print {
  body {
    margin: 0;
  }
  * {
    color: #000 !important;
  }
}
